/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 41, ../sass/screen.scss */
.subtitle {
  font-family: 'Brandon Bold', sans-serif;
  font-size: 0.8em;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: underline;
}

/* line 48, ../sass/screen.scss */
.top {
  margin: 1em 0 1.2em 0;
  font-weight: 300;
}

/* line 112, ../sass/screen.scss */
.footer-social-links {
  text-align: center;
}

/* line 115, ../sass/screen.scss */
.footer-social-links ul li > a {
  display: inline-block;
  padding: 5px;
  line-height: 2;
  color: black !important;
}

/* line 133, ../sass/screen.scss */
.footer-social-links li {
  margin: 0 15px;
  display: inline-block;
  vertical-align: middle;
}

/** NEW LAYOUT **/
@font-face {
  font-family: 'Brandon Regular';
  src: url(/fonts/BrandonText-Regular.ttf);
  font-weight: normal;
}
@font-face {
  font-family: 'Brandon Bold';
  src: url(/fonts/BrandonText-Bold.ttf);
  font-weight: bolder;
}
@font-face {
  font-family: 'Graphik Light';
  src: url(../fonts/Graphik-Light.otf);
  font-weight: lighter;
}
/* line 159, ../sass/screen.scss */
html, body {
  font-family: 'Brandon Regular', sans-serif;
}

/* line 162, ../sass/screen.scss */
.breadcrumb {
  background: white;
}

.breadcrumb a {
  color: #1cc28b !important;
}

/* line 167, ../sass/screen.scss */
#top-bar {
  height: 40px;
  width: 100%;
  z-index: 1000;
  position: fixed;
  background: #1cc28b;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #1cc28b 0%, #53cbf1 50%, #6495ed 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #1cc28b 0%, #53cbf1 50%, #6495ed 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #1cc28b 0%, #53cbf1 50%, #6495ed 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

/* line 179, ../sass/screen.scss */
.blank {
  height: 40px;
}

/* line 183, ../sass/screen.scss */
#logo-container {
  height: 100px;
}

/* line 188, ../sass/screen.scss */
#menu {
  top: 140;
  height: 50px;
  background-color: white;
}
/* line 193, ../sass/screen.scss */
#menu.container {
  background-color: white;
}
/* line 196, ../sass/screen.scss */
#menu > ul > li {
  display: block;
}

/* line 201, ../sass/screen.scss */
.navigation {
  height: 50px;
  border-top: 1px;
  border-bottom: 1px;
  border-color: #EDEDEB;
  border-style: solid;
}
/* line 207, ../sass/screen.scss */
.navigation .fa {
  color: #FF9891;
}

/* line 212, ../sass/screen.scss */
#menu li {
  display: inline-block;
  line-height: 50px;
  padding: 0 15px;
  margin: 0;
}

/* line 219, ../sass/screen.scss */
#main-nav li a {
  color: black;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
}

/* line 227, ../sass/screen.scss */
.navigation {
  text-align: center;
}

/* line 231, ../sass/screen.scss */
.fa {
  margin: 0 10px;
}

/* line 236, ../sass/screen.scss */
.sticky-wrapper {
  position: -webkit-sticky;
  position: sticky;
}

/* line 281, ../sass/screen.scss */
section {
  margin-top: 2em;
}
/* line 283, ../sass/screen.scss */
section header {
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 20px;
  text-align: center;
}
/* line 291, ../sass/screen.scss */
section .-content {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 1em;
}

/* line 297, ../sass/screen.scss */
.spacer {
  height: 20px;
}

/* line 301, ../sass/screen.scss */
.box-item {
  position: relative;
  max-width: 1120px;
}

/* line 307, ../sass/screen.scss */
.box-desc {
  position: absolute;
  width: 420px;
  opacity: 0.95;
  background-color: white;
  top: 20px;
  right: 20px;
  padding: 20px 25px;
}
/* line 316, ../sass/screen.scss */
.box-desc p {
  margin-top: 15px;
  text-align: justify;
  line-height: 20px;
  color: black;
}

/* line 324, ../sass/screen.scss */
.box-photo {
  width: 100%;
}

/* line 328, ../sass/screen.scss */
.box-title {
  text-transform: uppercase;
  display: block;
  text-align: center;
  font-size: 1.2em;
  letter-spacing: 1px;
}

/* line 336, ../sass/screen.scss */
.-space {
  margin-top: 15px;
}

/* line 340, ../sass/screen.scss */
.bold {
  font-family: "Brandon Bold";
}

/* line 344, ../sass/screen.scss */
.centered {
  text-align: center;
  display: block;
}

/*another shot*/
/* line 352, ../sass/screen.scss */
.product {
  text-align: center;
  margin-bottom: 20px;
}

/* line 357, ../sass/screen.scss */
.product-brand {
  font-family: 'Brandon', sans-serif;
  text-transform: uppercase;
}

/* line 362, ../sass/screen.scss */
.product-name {
  text-transform: capitalize;
  font-weight: bold;
  margin: 0.4em 0;
  color: rgb(51, 51, 51);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* line 367, ../sass/screen.scss */
.product-price {
  color: black;
  font-size: 1.2em;
  margin-bottom: 0.4em;
}

.items-inside {
  text-align: center;
}

/* line 373, ../sass/screen.scss */
.items-inside li {
  display: inline-block;
  max-width: 100px;
  font-family: 'Brandon Regular';
  padding: 0;
  vertical-align: top;
  margin-left: 10px;
}

.items-inside li img {
  height: 100px;
}

/* line 380, ../sass/screen.scss */
.highlight {
  color: #1cc28b;
  padding: 5px 10px;
  margin: 0 10px 0 0;
  font-size: 1.3em;
}

/* line 387, ../sass/screen.scss */
.striked {
  text-decoration: line-through;
}

/* line 391, ../sass/screen.scss */
.tagged {
  background-color: #FF9891;
  color: white;
  padding: 5px 10px;
  margin: 0 10px 0 0;
  font-size: 1.1em;
  font-family: 'Brandon Bold';
  border-radius: 25px;
}

/* line 402, ../sass/screen.scss */
footer {
  margin-top: 2em;
  background-color: #F5F5F5;
  padding: 2em 0;
  line-height: 1.5;
}

/* line 410, ../sass/screen.scss */
#payment-methods li {
  display: inline-block;
  color: black;
}
/* line 413, ../sass/screen.scss */
#payment-methods li .fa {
  color: black;
  opacity: 0.5;
}

/* line 419, ../sass/screen.scss */
#logo-container {
  position: relative;
}

/* line 423, ../sass/screen.scss */
#logo-container img {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -25px;
}

/* line 431, ../sass/screen.scss */
#top-bar li {
  display: inline-block;
  color: white;
  padding: 10px 5px;
  height: 40px;
  text-transform: uppercase;
  font-size: 0.8em;
  line-height: 20px;
}
/* line 439, ../sass/screen.scss */
#top-bar li:first-child {
  padding-left: 0;
}
/* line 442, ../sass/screen.scss */
#top-bar li .fa {
  margin-left: 0;
  margin-right: 5px;
}

/* line 448, ../sass/screen.scss */
#top-bar .fa {
  color: white;
}

/* line 452, ../sass/screen.scss */
.right-part li {
  float: right;
  margin: 0 10px;
}

.right-part li a {
  color: white;
}

/* line 442, ../sass/screen.scss */
/* line 453, ../sass/screen.scss */
/* line 458, ../sass/screen.scss */
input[type=text] {
  font-family: 'Brandon Regular';
}

/* line 463, ../sass/screen.scss */
#contact .fa {
  color: #F2DEDE;
  margin: 0 10px;
}

.item-image {
  background-size: cover !important;
  background-position: center center !important;
  position: relative;
  display: block;
}

.video {
  height: 500px;  
}

.blog {
  height: 153px;
  margin-bottom: 20px;
}

.blog:nth-last-child() {
  margin-bottom: 0;
}

.blog-title {
  position: absolute;
  bottom: 0;
  text-align: center;
  background: rgba(255, 255, 255, 0.7);
  width: 100%;
  font-size: 12px;
  padding: 10px;
  font-style: italic;
  color: black;
}

.call-to-action {
  margin-top: 30px;
}
/* line 463, ../sass/screen.scss */
.breadcrumb {
  margin-top: 4px;
  margin-bottom: 10px !important;
}

/* line 475, ../sass/screen.scss */
input[type=number] {
  border: 1px solid #dcdcdc;
  border-radius: 0;
  -webkit-appearance: none;
  text-align: center;
  width: 120px;
}

/* line 478, ../sass/screen.scss */
input[type=search] {
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
  text-align: right;
  padding: 0 5px;
  color: black;
}

/* line 486, ../sass/screen.scss */
.btn {
  border-radius: 0 !important;
}

/* line 495, ../sass/screen.scss */
.btn-primary {
  border: none;
  background-color: black;
  color: white;
  text-transform: uppercase;
}

/* line 502, ../sass/screen.scss */
.btn-secondary {
  border: 2px solid black;
  background-color: white;
  color: black;
  text-transform: uppercase;
}

/*product individual*/
/* line 513, ../sass/screen.scss */
.brief-info {
  line-height: 1.5;
}

/* line 517, ../sass/screen.scss */
.rating li {
  display: inline-block;
}

/* line 520, ../sass/screen.scss */
.rating i {
  margin: 0 !important;
}

#product_detail .img-circle {
  cursor: pointer;
}

/* line 519, ../sass/screen.scss */
.product-options li {
  display: inline-block;
  margin-left: 0;
  padding-left: 0;
  cursor: pointer;
  margin-right: 5px;
}

.product-options li.active .option-color {
  border: 1px solid black;
}

/* line 530, ../sass/screen.scss */
.multiple-images-sm li {
  margin-bottom: 1em;
}

/* line 534, ../sass/screen.scss */
.viewer-sm {
  margin-left: 0;
  padding-left: 0;
  display: flex;
  align-items: center;
}

/* line 541, ../sass/screen.scss */
.product-title-light {
  font-family: 'Graphik-Light', 'Brandon Regular', sans-serif;
  font-size: 2em;
}

/* line 546, ../sass/screen.scss */
.option-color {
  width: 38.7px;
  height: 38.7px;
  border-radius: 90px;
  margin: 0 auto;
}

.option-name {
  text-align: center;
  font-size: 12px;
  max-width: 75px;
}

/* line 549, ../sass/screen.scss */
.top-space {
  margin-top: 0.8em;
}

/* line 558, ../sass/screen.scss */
.left-aligned .highlight {
  padding-left: 0 !important;
}

/* line 563, ../sass/screen.scss */
.tabbed > input {
  display: none;
}

/* line 567, ../sass/screen.scss */
.tabbed > input:not(:checked) + section > div {
  display: none;
}

/* line 571, ../sass/screen.scss */
.tabbed > section > header {
  float: left;
}

/* line 575, ../sass/screen.scss */
.tabbed > section > header > label {
  cursor: pointer;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}

/* line 583, ../sass/screen.scss */
.tabbed > input {
  display: none;
}

/* line 587, ../sass/screen.scss */
.tabbed > section > header {
  float: left;
  box-sizing: border-box;
  margin: 0;
  padding: 0.5em 0.5em 0;
  overflow: hidden;
  font-size: 1em;
  font-weight: normal;
}

/* line 597, ../sass/screen.scss */
.tabbed > input:first-child + section > header {
  padding-left: 1em;
}

/* line 601, ../sass/screen.scss */
.tabbed > section > header > label {
  display: block;
  padding: 0.25em 0.75em 0.4em 0.75em;
  border-bottom: none;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background: #fff;
  cursor: pointer;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}

/* line 616, ../sass/screen.scss */
.tabbed > section > div {
  position: relative;
  z-index: 1;
  float: right;
  box-sizing: border-box;
  width: 100%;
  margin: 2.3em 0 0 -100%;
  padding: 2em;
  border: 1px solid #ddd;
  background: #fff;
  line-height: 1.5;
}

/* line 631, ../sass/screen.scss */
.tabbed > input:checked + section > header {
  border-bottom: 3px solid #1cc28b;
  color: #1cc28b;
  position: relative;
  z-index: 2;
}

/* line 638, ../sass/screen.scss */
.tabbed > input:not(:checked) + section > div {
  display: none;
}

#hall-of-fame .item-image {
  height: 250px;
}

#reviews .col-md-4 {
  border: 1px solid #1cc28b;
  padding: 10px 0;
  width: calc(33.33333333% - 20px) !important;
  margin-right: 20px;
  overflow: hidden;
}

#reviews .col-md-4:nth-last-child() {
  margin-right: 0;
}

#reviews .img-responsive {
  height: 240px;
}

#reviews .img-circle {
  width: 40px;
  height: 40px;
  margin-top: 20px;
  margin-bottom: 5px;
}

#reviews .name {
  font-family: 'Brandon';
  font-size: 14px;
  color: #1cc28b;
  font-weight: bold;
  margin-bottom: 5px;
}

#reviews .text {
  font-family: 'Brandon';
  font-size: 10px;
}
/* line 638, ../sass/screen.scss */
/* line 643, ../sass/screen.scss */
.review-content {
  margin: 0.5em 0;
  padding: 1.5em 0;
  border-top: 1px solid #F5F5F5;
}
/* line 647, ../sass/screen.scss */
.review-content p {
  text-align: justify;
}

/* line 652, ../sass/screen.scss */
.no-top-border {
  border-top: none;
}

/* line 656, ../sass/screen.scss */
#mall-intro {
  margin-top: 0 !important;
  border-bottom: 1px solid #f2f2f2;
}

/* line 661, ../sass/screen.scss */
.mall-intro-text {
  padding: 0 5em 0 1em;
}
/* line 663, ../sass/screen.scss */
.mall-intro-text p {
  text-align: justify;
}

/* line 668, ../sass/screen.scss */
.big-titled {
  font-size: 2em;
  color: #333;
}

/* line 672, ../sass/screen.scss */
p {
  line-height: 1.5;
}

#feed-latest .cover {
  height: 290px;
  background-size: cover !important;
  background-position: center center !important;
}

#blog-posts .product .cover {
  height: 200px;
  background-size: cover !important;
  background-position: center center !important;
  margin-left: 15px;
  width: calc(100% - 30px);
}
/* line 677, ../sass/screen.scss */
.cart-item {
  padding: 1em;
  border-bottom: 1px solid #E6E6E6;
}
/* line 680, ../sass/screen.scss */
.cart-item:last-of-type {
  border: none !important;
}

/* line 685, ../sass/screen.scss */
.list-items {
  padding: 0 1em;
}

/* line 689, ../sass/screen.scss */
.cart-item-desc {
  padding: 0 !important;
}
/* line 691, ../sass/screen.scss */
.cart-item-desc span {
  margin: inherit 0;
  padding: 0;
}

/* line 702, ../sass/screen.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 708, ../sass/screen.scss */
h1 {
  font-family: "Brandon Bold", serif;
  margin: -15px 0 25px 0;
  text-align: center;
  font-size: 1.1em;
  text-transform: uppercase;
  color: #1CC28B;
}

/* line 717, ../sass/screen.scss */
.uppercase {
  text-transform: uppercase;
}

/* line 723, ../sass/screen.scss */
.price-summary {
  margin: 1em 0;
  border-top: 1px solid #E6E6E6;
}

/* line 729, ../sass/screen.scss */
.final-items {
  background: RGBA(28, 194, 139, 0.4);
}
