/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../usr/local/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 40, ../sass/screen.scss */
.subtitle {
  font-family: 'Brandon Bold', sans-serif;
  font-size: 0.8em;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: underline;
}

/* line 47, ../sass/screen.scss */
.top {
  margin: 1em 0 1.2em 0;
  font-weight: 300;
}

/* line 111, ../sass/screen.scss */
.footer-social-links {
  text-align: center;
}

/* line 114, ../sass/screen.scss */
.footer-social-links ul li > a {
  display: inline-block;
  padding: 5px;
  line-height: 2;
  color: black !important;
}

/* line 132, ../sass/screen.scss */
.footer-social-links li {
  margin: 0 15px;
  display: inline-block;
  vertical-align: middle;
}

/** NEW LAYOUT **/
@font-face {
  font-family: 'Brandon Regular';
  src: url(/fonts/BrandonText-Regular.ttf);
  font-weight: normal;
}
@font-face {
  font-family: 'Brandon Bold';
  src: url(/fonts/BrandonText-Bold.ttf);
  font-weight: bolder;
}
@font-face {
  font-family: 'Graphik Light';
  src: url(../fonts/Graphik-Light.otf);
  font-weight: lighter;
}
/* line 158, ../sass/screen.scss */
html, body {
  font-family: 'Brandon Regular', sans-serif;
}

/* line 162, ../sass/screen.scss */
.breadcrumb a {
  color: #1cc28b !important;
}

/* line 166, ../sass/screen.scss */
#top-bar {
  height: 40px;
  background-color: #1cc28b;
  width: 100%;
  z-index: 1000;
  position: fixed;
}

/* line 174, ../sass/screen.scss */
.blank {
  height: 40px;
}

/* line 178, ../sass/screen.scss */
#logo-container {
  height: 100px;
}

/* line 183, ../sass/screen.scss */
#menu {
  top: 140;
  height: 50px;
  background-color: white;
}
/* line 188, ../sass/screen.scss */
#menu.container {
  background-color: white;
}
/* line 191, ../sass/screen.scss */
#menu > ul > li {
  display: block;
}

/* line 196, ../sass/screen.scss */
.navigation {
  height: 50px;
  border-top: 1px;
  border-bottom: 1px;
  border-color: #EDEDEB;
  border-style: solid;
}
/* line 202, ../sass/screen.scss */
.navigation .fa {
  color: #FF9891;
}

/* line 207, ../sass/screen.scss */
#menu li {
  display: inline-block;
  line-height: 50px;
  padding: 0 15px;
  margin: 0;
}

/* line 214, ../sass/screen.scss */
#main-nav li a {
  color: black;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
}

/* line 222, ../sass/screen.scss */
.navigation {
  text-align: center;
}

/* line 226, ../sass/screen.scss */
.fa {
  margin: 0 10px;
}

/* line 231, ../sass/screen.scss */
.sticky-wrapper {
  position: -webkit-sticky;
  position: sticky;
}

/* line 276, ../sass/screen.scss */
section {
  margin-top: 2em;
}
/* line 278, ../sass/screen.scss */
section header {
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 20px;
  text-align: center;
}
/* line 286, ../sass/screen.scss */
section .-content {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 1em;
}

/* line 292, ../sass/screen.scss */
.spacer {
  height: 20px;
}

/* line 296, ../sass/screen.scss */
.box-item {
  position: relative;
  max-width: 1120px;
}

/* line 302, ../sass/screen.scss */
.box-desc {
  position: absolute;
  width: 420px;
  opacity: 0.95;
  background-color: white;
  top: 20px;
  right: 20px;
  padding: 20px 25px;
}
/* line 311, ../sass/screen.scss */
.box-desc p {
  margin-top: 15px;
  text-align: justify;
  line-height: 20px;
  color: black;
}

/* line 319, ../sass/screen.scss */
.box-photo {
  width: 100%;
}

/* line 323, ../sass/screen.scss */
.box-title {
  text-transform: uppercase;
  display: block;
  text-align: center;
  font-size: 1.2em;
  letter-spacing: 1px;
}

/* line 331, ../sass/screen.scss */
.-space {
  margin-top: 15px;
}

/* line 335, ../sass/screen.scss */
.bold {
  font-family: "Brandon Bold";
}

/* line 339, ../sass/screen.scss */
.centered {
  text-align: center;
  display: block;
}

/*another shot*/
/* line 347, ../sass/screen.scss */
.product {
  text-align: center;
}

/* line 352, ../sass/screen.scss */
.product-brand {
  font-family: 'Brandon', sans-serif;
  text-transform: uppercase;
}

/* line 357, ../sass/screen.scss */
.product-name {
  text-transform: capitalize;
  font-weight: bold;
  margin: 0.4em 0;
  color: rgb(51, 51, 51);
}

/* line 362, ../sass/screen.scss */
.product-price {
  color: black;
  font-size: 1.2em;
  margin-bottom: 0.4em;
}

.items-inside {
  text-align: center;
}

.items-inside li {
  display: inline-block;
  max-width: 100px;
  font-family: 'Brandon Regular';
  padding: 0;
  vertical-align: top;
  margin-left: 10px;
}

.items-inside li img {
  height: 100px;
}

/* line 375, ../sass/screen.scss */
.highlight {
  color: #1cc28b;
  padding: 5px 10px;
  margin: 0 10px 0 0;
  font-size: 1.3em;
}

/* line 382, ../sass/screen.scss */
.striked {
  text-decoration: line-through;
}

/* line 386, ../sass/screen.scss */
.tagged {
  background-color: #FF9891;
  color: white;
  padding: 5px 10px;
  margin: 0 10px 0 0;
  font-size: 1.1em;
  font-family: 'Brandon Bold';
  border-radius: 25px;
}

/* line 397, ../sass/screen.scss */
footer {
  margin-top: 2em;
  background-color: #F5F5F5;
  padding: 2em 0;
  line-height: 1.5;
}

/* line 405, ../sass/screen.scss */
#payment-methods li {
  display: inline-block;
  color: black;
}
/* line 408, ../sass/screen.scss */
#payment-methods li .fa {
  color: black;
  opacity: 0.5;
}

/* line 414, ../sass/screen.scss */
#logo-container {
  position: relative;
}

/* line 418, ../sass/screen.scss */
#logo-container img {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -25px;
}

/* line 426, ../sass/screen.scss */
#top-bar li {
  display: inline-block;
  color: white;
  padding: 10px;
  height: 40px;
  text-transform: uppercase;
  font-size: 0.8em;
  line-height: 20px;
}
/* line 434, ../sass/screen.scss */
#top-bar li:first-child {
  padding-left: 0;
}
/* line 437, ../sass/screen.scss */
#top-bar li .fa {
  margin-left: 0;
  margin-right: 5px;
}

/* line 443, ../sass/screen.scss */
#top-bar .fa {
  color: white;
}

/* line 447, ../sass/screen.scss */
.right-part li {
  float: right;
  margin: 0 15px;
}

.right-part li a {
  color: white;
}

/* line 442, ../sass/screen.scss */
/* line 453, ../sass/screen.scss */
input[type=text] {
  font-family: 'Brandon Regular';
}

/* line 458, ../sass/screen.scss */
#contact .fa {
  color: #F2DEDE;
  margin: 0 10px;
}

.item-image {
  background-size: cover !important;
  background-position: center center !important;
  position: relative;
  display: block;
}

.video {
  height: 500px;  
}

.blog {
  height: 153px;
  margin-bottom: 20px;
}

.blog:nth-last-child() {
  margin-bottom: 0;
}

.blog-title {
  position: absolute;
  bottom: 0;
  text-align: center;
  background: rgba(255, 255, 255, 0.7);
  width: 100%;
  font-size: 12px;
  padding: 10px;
  font-style: italic;
  color: black;
}

.call-to-action {
  margin-top: 30px;
}
/* line 463, ../sass/screen.scss */
.breadcrumb {
  margin-top: 4px;
  margin-bottom: 10px !important;
  padding-left: 0 !important;
}

/* line 470, ../sass/screen.scss */
input[type=number] {
  border: 1px solid #dcdcdc;
  border-radius: 0;
  -webkit-appearance: none;
  text-align: center;
  width: 120px;
}

/* line 478, ../sass/screen.scss */
input[type=search] {
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
  text-align: right;
  padding: 0 5px;
  color: black;
}

/* line 486, ../sass/screen.scss */
.btn {
  border-radius: 0 !important;
}

/* line 490, ../sass/screen.scss */
.btn-primary {
  border: none;
  background-color: black;
  color: white;
  text-transform: uppercase;
}

/* line 497, ../sass/screen.scss */
.btn-secondary {
  border: 2px solid black;
  background-color: white;
  color: black;
  text-transform: uppercase;
}

/*product individual*/
/* line 508, ../sass/screen.scss */
.brief-info {
  line-height: 1.5;
}

/* line 512, ../sass/screen.scss */
.rating li {
  display: inline-block;
}

/* line 515, ../sass/screen.scss */
.rating i {
  margin: 0 !important;
}

/* line 519, ../sass/screen.scss */
.product-options li {
  display: inline-block;
  margin-left: 0;
  padding-left: 0;
}

/* line 525, ../sass/screen.scss */
.multiple-images-sm li {
  margin-bottom: 1em;
}

/* line 529, ../sass/screen.scss */
.viewer-sm {
  margin-left: 0;
  padding-left: 0;
  display: flex;
  align-items: center;
}

/* line 536, ../sass/screen.scss */
.product-title-light {
  font-family: 'Graphik-Light', 'Brandon Regular', sans-serif;
  font-size: 2em;
}

/* line 541, ../sass/screen.scss */
.option-color {
  width: 38.7px;
  height: 38.7px;
  border-radius: 90px;
  margin-right: 4px;
}

.option-name {
  text-align: center;
}

/* line 549, ../sass/screen.scss */
.top-space {
  margin-top: 0.8em;
}

/* line 553, ../sass/screen.scss */
.left-aligned .highlight {
  padding-left: 0 !important;
}

/* line 558, ../sass/screen.scss */
.tabbed > input {
  display: none;
}

/* line 562, ../sass/screen.scss */
.tabbed > input:not(:checked) + section > div {
  display: none;
}

/* line 566, ../sass/screen.scss */
.tabbed > section > header {
  float: left;
}

/* line 570, ../sass/screen.scss */
.tabbed > section > header > label {
  cursor: pointer;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}

/* line 578, ../sass/screen.scss */
.tabbed > input {
  display: none;
}

/* line 582, ../sass/screen.scss */
.tabbed > section > header {
  float: left;
  box-sizing: border-box;
  margin: 0;
  padding: 0.5em 0.5em 0;
  overflow: hidden;
  font-size: 1em;
  font-weight: normal;
}

/* line 592, ../sass/screen.scss */
.tabbed > input:first-child + section > header {
  padding-left: 1em;
}

/* line 596, ../sass/screen.scss */
.tabbed > section > header > label {
  display: block;
  padding: 0.25em 0.75em 0.4em 0.75em;
  border-bottom: none;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background: #fff;
  cursor: pointer;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}

/* line 611, ../sass/screen.scss */
.tabbed > section > div {
  position: relative;
  z-index: 1;
  float: right;
  box-sizing: border-box;
  width: 100%;
  margin: 2.3em 0 0 -100%;
  padding: 2em;
  border: 1px solid #ddd;
  background: #fff;
  line-height: 1.5;
}

/* line 626, ../sass/screen.scss */
.tabbed > input:checked + section > header {
  border-bottom: 3px solid #1cc28b;
  color: #1cc28b;
  position: relative;
  z-index: 2;
}

/* line 633, ../sass/screen.scss */
.tabbed > input:not(:checked) + section > div {
  display: none;
}
