/*  Daily Boom, Inc. All rights reserved.  */

/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Candal);
@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
@font-face {
  font-family: 'BulkyPixels';
  src: url('/fonts/bulkypix-webfont.eot');
  src: url('/fonts/bulkypix-webfont.eot?#iefix') format('embedded-opentype'),
       url('/fonts/bulkypix-webfont.woff2') format('woff2'),
       url('/fonts/bulkypix-webfont.woff') format('woff'),
       url('/fonts/bulkypix-webfont.ttf') format('truetype'),
       url('/fonts/bulkypix-webfont.svg#bulky_pixelsregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Dotum';
  src:  url('/fonts/hcrdotum-webfont.woff2') format('woff2'),
        url('/fonts/hcrdotum-webfont.woff') format('woff'),
        url('/fonts/hcrdotum-webfont.ttf') format('truetype');
}
body {
  font-family: 'Dotum', sans-serif;
}

@media only screen and (min-width: 0) {}
@media only screen and (min-width: 601px) {}
@media only screen and (min-width: 992px) {}
@media only screen and (min-width: 1200px) {}

/* Colors	*/
nav {
  background: -webkit-linear-gradient(#37474f, #455a64, #37474f);
  background: -o-linear-gradient(#37474f, #455a64, #37474f);
  background: -moz-linear-gradient(#37474f, #455a64, #37474f);
  background: linear-gradient(#37474f, #455a64, #37474f);
  border-bottom: 3px solid #fff;
}

/* Global Settings */
/*body {
  background: -webkit-radial-gradient(#ffffff, #cfd8dc);
  background: -o-radial-gradient(#ffffff, #cfd8dc);
  background: -moz-radial-gradient(#ffffff, #cfd8dc);
  background: radial-gradient(#ffffff, #cfd8dc);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}*/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.min-h-lg { min-height: 500px; }

/* Grid */
@media only screen and (min-width: 0) {
  .flex-s { display: flex; flex-direction: column; }
  .box-1 { order: 1; }
  .box-2 { order: 2; }
  .box-3 { order: 3; }
  .box-4 { order: 4; }
}
@media only screen and (min-width: 601px) {
  .flex-s { display: block; }
}

/* Container Reset */
@media only screen and (min-width: 0) {
  .container { width: 94%; }
}
@media only screen and (min-width: 601px) {
  .container { width: 90%; }
}
@media only screen and (min-width: 992px) {
  .container { width: 975px; }
}
@media only screen and (min-width: 1200px) {
  .container { width: 975px; }
}


/* Font Awesome Fix */
@media only screen and (min-width: 0) {
  .fa-1x { font-size: 1em !important; }
  .fa-2x { font-size: 1.4em !important; }
  .fa-3x { font-size: 1.8em !important; }
  .fa-4x { font-size: 2em !important; }
  .fa-5x { font-size: 2.5em !important; }
}
@media only screen and (min-width: 601px) {
  .fa-1x { font-size: 1em !important; }
  .fa-2x { font-size: 1.5em !important; }
  .fa-3x { font-size: 2em !important; }
  .fa-4x { font-size: 2.5em !important; }
  .fa-5x { font-size: 2.3em !important; }
}
@media only screen and (min-width: 992px) {
  .fa-1x { font-size: 1em !important; }
  .fa-2x { font-size: 1.2em !important; }
  .fa-3x { font-size: 2em !important; }
  .fa-4x { font-size: 2.4em !important; }
  .fa-5x { font-size: 3em !important; }
}
@media only screen and (min-width: 1200px) {
  .fa-1x { font-size: 1em !important; }
  .fa-2x { font-size: 2em !important; }
  .fa-3x { font-size: 3em !important; }
  .fa-4x { font-size: 4em !important; }
  .fa-5x { font-size: 5em !important; }
}

/* Input */
::-webkit-input-placeholder { color: #9e9e9e !important; }
 :-moz-placeholder          { color: #9e9e9e !important; }
::-moz-placeholder          { color: #9e9e9e !important; }
 :-ms-input-placeholder     { color: #9e9e9e !important; }
 .input-file-mod {
   position: absolute;
   margin-top: -2rem;
   font-size: 0.9em;
 }

/* Admin */
@media only screen and (min-width: 0) {
  .legend {
    display: block;
    position: relative;
    margin-right: 20px;
  }
  .legend span {
    display: block;
    text-align: right;
    margin-left: 10px;
    font-size: .25em !important;
    line-height: 1;
  }
}
@media only screen and (min-width: 601px) {
  .legend {
    display: block;
    position: relative;
    margin-right: 20px;
  }
  .legend span {
    display: inline-block;
    text-align: right;
    margin-left: 10px;
    font-size: .333333em !important;
  }
}
@media only screen and (min-width: 992px) {
  .legend {
    display: block;
    position: relative;
    margin-right: 20px;
  }
  .legend span {
    display: inline-block;
    text-align: right;
    margin-left: 10px;
    font-size: .333333em !important;
  }
}
@media only screen and (min-width: 1200px) {}

/*
 *  Navbar
 */
.d-clock {
  font-family: 'BulkyPixels', sans-serif;
}
@media only screen and (min-width: 0) {
  .logo-d { display: none; }
  .logo-m { display: block; }
  .logo-img { height: 36px; margin-top: 6px;}
  nav {
    height: 51px;
    line-height: 51px;
  }
  .nav-item { padding: 0px; }
  .btn-profile {
    height: 40px;
    width: 40px;
    line-height: 3.5;
    vertical-align: middle;
  }
  .d-clock {
    font-size: 2em;
    line-height: 2.2;
    vertical-align: middle;
    margin-left: 40px;
  }
  .btn-mobile {
    padding: 0;
  }
}
@media only screen and (min-width: 601px) {
  .logo-d { display: block; }
  .logo-m { display: none; }
  .logo-img { height: 54px; }
  nav {
    height: 54px;
    line-height: 54px;
  }
  .nav-item { padding: 0 10px; }
  .nav-item.mod { padding: 0px; }
  .btn-profile {
    height: 40px;
    width: 40px;
    line-height: 3.5;
    vertical-align: middle;
  }
  .d-clock {
    font-size: 2.5em;
    line-height: 1.8em;
    vertical-align: middle;
    margin: 0;
  }
}
@media only screen and (min-width: 992px) {
  .logo-m { display: none; }
  .logo-d { display: block; }
  .logo-img {
    height: 50px;
    margin-top: 13px;
  }
  nav {
    height: 75px;
  }
  .nav-item { padding: 11px 10px 10px 10px; }
  .nav-item.mod { padding: 11px 10px 10px 10px; }
  .btn-profile {
    height: 50px;
    width: 50px;
    line-height: 4.25;
    vertical-align: middle;
  }
  .buy-sticky-wrapper {
    display: block;
    position: fixed;
    width: 650px;
    right: 0;
    bottom: -10px;
    left: 0;
    margin: 0 auto;
    padding: 20px;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
    z-index: 200;
  }
  .d-clock {
    width: 325px;
    font-size: 3em;
    line-height: 1;
    clear: left;
    /*margin-top: 10px;*/
    /*vertical-align: baseline;*/
    /*position: absolute;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*left: 0;*/
    /*right: 0;*/
    /*text-align: center;*/
  }
  .d-clock.label {
    width: auto;
    font-size: 1.75em;
    margin-bottom: 10px;
  }
}
@media only screen and (min-width: 1200px) {}

/* Preview Navbar */
@media only screen and (min-width: 0) {
  .preview-bar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: rgba(0,0,0,.7);
    z-index: 100;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
  }
  ul.preview-menu li {
    display: inline-block;
  }
  .btn-large.mod {
    height: 24px;
    line-height: 1;
    margin: 0;
    padding: 5px 10px;
  }
  .preview-hide {
    position: absolute;
    left: 10px;
    top: 50px;
    border: 1px solid rgba(0,0,0,.7);
    border-bottom-left-radius: .5em;
    border-bottom-right-radius: .5em;
    background-color: rgba(0,0,0,.7);
  }
  .hide-bar {
    -webkit-transform: translate(0,-50px);
    -moz-transform: translate(0,-50px);
    -o-transform: translate(0,-50px);
    -ms-transform: translate(0,-50px);
    transform: translate(0,-50px);
  }
}
@media only screen and (min-width: 601px) {}
@media only screen and (min-width: 992px) {
  .preview-bar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 90px;
    background-color: rgba(0,0,0,.7);
    z-index: 100;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
  }
  ul.preview-menu li {
    display: inline-block;
  }
  .preview-hide {
    position: absolute;
    left: 10px;
    top: 90px;
    border: 1px solid rgba(0,0,0,.7);
    border-bottom-left-radius: .5em;
    border-bottom-right-radius: .5em;
    background-color: rgba(0,0,0,.7);
  }
  .hide-bar {
    -webkit-transform: translate(0,-90px);
    -moz-transform: translate(0,-90px);
    -o-transform: translate(0,-90px);
    -ms-transform: translate(0,-90px);
    transform: translate(0,-90px);
  }
}
@media only screen and (min-width: 1200px) {}

/* Footer */
.page-footer {
  color: #fff;
}
.follow-us { opacity: 0.7; }
.text-footer {
  font-size: 0.7em;
  font-weight: normal;
  opacity: 0.7;
}
@media only screen and (min-width: 0) {
  .footer-social { height: 40px; }
  .footer-box { text-align: center; }
  .footer-link {
    width: ;
    margin: 0;
    padding: 0px 2px;
    font-size: 0.75em;
  }
}
@media only screen and (min-width: 601px) {
  .footer-social { height: 50px; }
  .footer-box { text-align: right; }
  .footer-link {
    width: 140px;
    margin: 5px -2px;
    padding: 0px 10px;
    font-size: 1em;
  }
}
@media only screen and (min-width: 992px) {
  .footer-social { height: 50px; }
  .footer-box { text-align: right; }
  .footer-link {
    width: 140px;
    margin: 5px -2px;
    padding: 0px 20px;
    font-size: 1em;
  }
}
@media only screen and (min-width: 1200px) {}

/* Home Page */
/** Sticky Buy **/
@media only screen and (min-width: 0) {}
@media only screen and (min-width: 601px) {}
@media only screen and (min-width: 992px) {}
@media only screen and (min-width: 1200px) {}

/** Login Modal **/
@media only screen and (min-width: 0) {
  .modal {
    width: 80%;
    max-height: 85%;
  }
  .modal .modal-content-c {
    display: block;
    padding: 10px 10px 0px 10px;
  }
  .modal-header {
    height: 1.8em;
    width: 100%;
    padding: 5px 0;
    line-height: 1.5em;
    vertical-align: middle;
    font-size: 1.5em;
  }
  .modal .modal-footer-c {
    height: 50px;
    width: 100%;
    padding: 10px 20px;
    line-height: 30px;
    vertical-align: middle;
  }
  .or-wrapper {
    margin-top: 18px;
  }
  .btn-social-login img {
    height: 60px;
    margin: 7px 9px 0 9px;
  }
}
@media only screen and (min-width: 601px) {
  img.responsive-img {
    width: 100%;
  }
  .modal {
    width: 480px;
  }
  .modal .modal-content- {
    display: block;
    padding: 10px 20px;
  }
  .modal-header-c {
    height: 1.8em;
    width: 100%;
    line-height: 1.8em;
    vertical-align: middle;
    font-size: 1.8em;
  }
  .modal .modal-footer-c {
    height: 50px;
    width: 100%;
    padding: 10px 30px;
    line-height: 30px;
    vertical-align: middle;
  }
  .or-wrapper {
    display: block;
    margin-top: 1em;
    width: 100%;
  }
  .or {
    position: absolute;
    left: 45.5%;
    margin-top: -34px;
    padding: 10px;
    background-color: #fafafa;
    font-size: 1.2em;
    font-weight: bold;
  }
  .social-login-wrapper {
    display: block;
    position: relative;
  }
  .btn-social-login {
    display: inline-block;
    margin: 0 auto;
  }
  .btn-social-login img {
    height: 70px;
    width: 70px;
    margin: 0 1em;
  }
}
@media only screen and (min-width: 992px) {
  .modal {
    width: 480px;
  }
  .modal .modal-content- {
    display: block;
    padding: 10px 20px;
  }
  .modal-header-c {
    height: 1.8em;
    width: 100%;
    line-height: 1.8em;
    vertical-align: middle;
    font-size: 1.8em;
  }
  .modal .modal-footer-c {
    height: 50px;
    width: 100%;
    padding: 10px 30px;
    line-height: 30px;
    vertical-align: middle;
  }
  .or-wrapper {
    display: block;
    margin-top: 1em;
    width: 100%;
  }
  .or {
    position: absolute;
    left: 45.5%;
    margin-top: -34px;
    padding: 10px;
    background-color: #fafafa;
    font-size: 1.2em;
    font-weight: bold;
  }
  .social-login-wrapper {
    display: block;
    position: relative;
  }
  .btn-social-login {
    display: inline-block;
    margin: 0 auto;
  }
  .btn-social-login img {
    height: 70px;
    width: 70px;
    margin: 0 1em;
  }
}
@media only screen and (min-width: 1200px) {}

.want {
  cursor: pointer;
}

.time-wrapper {
  position: fixed;
  bottom: 0;
  right: 23%;
  padding: 10px 20px;
  z-index: 1001;
  text-align: center;
  width: 570px;
}

/** Slider **/
.btn.buy-mod {
  border: 2px solid #fff;
  font-size: 2.5em;
  height: 75px;
  line-height: 75px;
  vertical-align: middle;
}
.btn.buy-mod i {
  font-size: 1em;
}

.bx-controls-direction:hover {
  opacity: 1;
  -webkit-animation-name: lighten;
  -webkit-animation-duration: .5s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;

  -moz-animation-name: lighten;
  -moz-animation-duration: .5s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: 1;

  animation-name: lighten;
  animation-duration: .5s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}
@-moz-keyframes lighten {
  0% { opacity: 0.5; }
  100% { opacity: 1; }
}
@-webkit-keyframes lighten {
  0% { opacity: 0.5; }
  100% { opacity: 1; }
}
@keyframes lighten {
  0% { opacity: 0.5; }
  100% { opacity: 1; }
}
.bx-controls-direction {
  opacity: .5;
  -webkit-animation-name: dim;
  -webkit-animation-duration: 2.5s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;

  -moz-animation-name: dim;
  -moz-animation-duration: 2.5s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: 1;

  animation-name: dim;
  animation-duration: 2.5s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}
@-moz-keyframes dim {
  0% { opacity: 1.0; }
  100% { opacity: 0.5; }
}
@-webkit-keyframes dim {
  0% { opacity: 1.0; }
  100% { opacity: 0.5; }
}
@keyframes dim {
  0% { opacity: 1.0; }
  100% { opacity: 0.5; }
}

@media only screen and (min-width: 0) {
  .bx-wrapper .bx-viewport {
    height: 240px !important;
  }
  .bx-wrapper .bx-pager.bx-default-pager a {
  	background: rgba(255,255,255,0.5);;
  	text-indent: -9999px;
  	display: block;
  	width: 10px;
  	height: 10px;
  	margin: 0 5px;
  	outline: 0;
  	-moz-border-radius: 50px;
  	-webkit-border-radius: 50px;
  	border-radius: 50px;
  }
  .slider-wrapper {
    margin-top: 0px;
  }
  .slide {
    height: 240px;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .slider-wrapper iframe {
    height: 240px;
    background-color: #000;
  }
  .bx-wrapper .bx-pager {
    text-align: center;
    font-size: .85em;
    font-family: Arial;
    font-weight: bold;
    color: #666;
    margin-bottom: 31px;
    z-index: 10;
  }
  .sold-out {
    background-color: rgba(255,255,255,.5);
  }
}
@media only screen and (min-width: 601px)  {
  .bx-wrapper .bx-viewport {
    height: 400px !important;
  }
  .bx-wrapper .bx-pager.bx-default-pager a {
    background: rgba(255,255,255,0.5);;
    text-indent: -9999px;
    display: block;
    width: 15px;
    height: 15px;
    margin: 0 5px;
    outline: 0;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
  }
  .slider-wrapper {
    margin-top: 0px;
  }
  .slide {
    height: 400px;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .slider-wrapper iframe {
    height: 400px;
  }
  .bx-wrapper .bx-pager {
    text-align: center;
    font-size: .85em;
    font-family: Arial;
    font-weight: bold;
    color: #666;
    margin-bottom: 31px;
    z-index: 10;
  }
}
@media only screen and (min-width: 992px) {
  .hero-left {
    width: 750px;
    float: left;
  }
  .hero-right {
    width: 225px;
    float: left;
  }
  .hero-thumbnail {
    width: 225px;
    height: 92px;
    padding: 1px;
    /*border: 2px solid rgba(0,0,0,.5);*/
    background-color: #000;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .4;
    cursor: pointer;
  }
  .hero-img:hover .hero-thumbnail {
    opacity: 1;
    -webkit-animation-name: lighten;
    -webkit-animation-duration: .25s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;

    -moz-animation-name: lighten;
    -moz-animation-duration: .25s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: 1;

    animation-name: lighten;
    animation-duration: .25s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
  }
  .hero-img.active .hero-thumbnail {
    opacity: 1.0;
  }
  .bx-wrapper .bx-viewport {
    height: 460px !important;
  }
  .bx-wrapper .bx-pager.bx-default-pager a {
  	background: rgba(255,255,255,0.5);;
  	text-indent: -9999px;
  	display: block;
  	width: 15px;
  	height: 15px;
  	margin: 0 5px;
  	outline: 0;
  	-moz-border-radius: 50px;
  	-webkit-border-radius: 50px;
  	border-radius: 50px;
  }
  .slider-wrapper {
    margin-top: 0px;
  }
  .slide {
    height: 460px;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .slider-wrapper iframe {
    height: 460px;
  }
  .bx-wrapper .bx-pager {
  	text-align: center;
  	font-size: .85em;
  	font-family: Arial;
  	font-weight: bold;
  	color: #666;
    margin-bottom: 34px;
  	z-index: 10;
  }
}
@media only screen and (min-width: 1200px) {}

/** Progress Bars **/
@media only screen and (min-width: 0) {
  .progress-wrapper {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    margin: 2px 0;
  }
  .progress-h {
    width: 100%;
    height: 40px;
  }
  .determinate-h {
    position: absolute;
    height: 40px;
    top: 0;
    left: 0;
    border-right: 2px solid #ffffff;
    z-index: 10;
  }
  .progress-h-text {
    display: block;
    position: absolute;
    height: 40px;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    font-size: 1.8em;
    text-align: center;
    line-height: 40px;
    vertical-align: middle;
    z-index: 10;
  }
}
@media only screen and (min-width: 601px) {}
@media only screen and (min-width: 992px) {}
@media only screen and (min-width: 1200px) {}
/*6d6e70*/
/** Buy Box **/
.card.past .card-image-ol {
  position: absolute;
  display: block;
  width: 100%;
  text-align: center;
  color: #fff;
  vertical-align: middle;
  background-color: rgba(0,0,0,.5);
  z-index: 100;
}
.ol-old-p {
  text-decoration: line-through;
  font-size: 1.4em;
}
.ol-new-p {
  font-size: 2em;
}
.m-item {
  display: inline-block;
}
.m-item .item-price-o.mod {
  text-decoration: none !important;
}

/* Coupon */
.coupon-wrapper {
  position: fixed;
  z-index: 9999;
}
@media only screen and (min-width: 0) {
  .coupon-wrapper {
    top: 40%;
    right: 10px;
  }
  .toast-coupon {
    height: 100px;
  }
}
@media only screen and (min-width: 601px) {}
@media only screen and (min-width: 992px) {
  .coupon-wrapper {
    top: 10%;
    right: 10%;
  }
  .toast-coupon {
    height: 160px;
  }
}

/* Buy */
.buy-box-wrapper {
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
}
.brand-img {
  display: inline-block;
  border: 2px solid #fff;
  border-radius: 5px;
  background-color: rgba(96, 125, 139, .5);
  z-index: 10;
}
.buy-box-footer {
  display: block;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
}
@media only screen and (min-width: 0) {
  .mobile-buy {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 62px;
    padding: 0 10px;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    font-size: 2em;
    z-index: 1000;
  }
  .btn-buy-mobile {
    height: auto;
    width: 120px !important;
    position: absolute;
    bottom: 5px;
    right: 20px;
  }
  .buy-box-wrapper {
    position: relative;
    height: 50px;
    line-height: 2.5;
    vertical-align: middle;
    width: 100%;
    margin-top: -60px;
    padding: 0 5px;
    z-index: 10;
  }
  .buy-box-info {
    position: relative;
    padding: 20px;
  }
  .btn-buy-wrapper {
    margin-top: -20px;
    position: absolute;
    right: 20px;
  }
  .btn-buy {
    height: 100px;
    width: 100px;
  }
  .buy-box-footer {
    height: 50px;
    padding: 5px 20px 5px 20px;
  }
  .share-text {
    font-size: 1.4em;
  }
  img.social {
    height: 30px;
    width: 30px;
    margin: 4px 5px 0 5px;
    border-radius: 50%;
  }
  .brand-img {
    height: 80px;
    width: 80px;
    bottom: 0px;
    margin-top: -15px;
    padding: 2px;
  }
  .item-name {
    width: 70%;
    display: inline-block;
    position: absolute;
    margin-left: 5px;
    line-height: 50px;
  }
  .item-name.name-md {
    font-size: 1em;
    font-size: 4vw;
  }
  .item-name.name-lg {
    font-size: 1.5em;
    font-size: 6vw;
  }
  .item-price {
    display: block;
    font-size: 1em;
    margin-top: -7px;
    padding-top: 0;
  }
  .item-price-o {
    text-decoration: line-through;
    font-size: 0.6em;
    margin-bottom: 0;
    padding-top: 0;
  }
  .item-info {
    white-space: pre-wrap;
    word-break: keep-all;
    text-align: justify;
    font-size: 1em;
  }
  .item-info-links {
    margin-top: 1.2em;
    font-size: 1.2em;
  }
  .past-box-wrapper {
    width: 100%;
    height: 51px;
    line-height: 51px;
    vertical-align: middle;
    padding: 0 20px;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    font-size: 1.5em;
  }
  .seemore {
    font-size: 0.6em !important;
  }
  .past-date-box {
    padding: 5px 20px;
    font-size: 1.4em;
  }
  /* custom card */
  .card.past .card-image-ol {
    height: 210px;
    padding-top: 75px;
  }
  .card .card-content.past {
    height: 141px;
    overflow-y: scroll;
  }
  .card .card-content.past span {
    white-space: pre-wrap;
    word-break: keep-all;
  }
  .card .card-action.mod {
    padding: 10px;
  }
  .past-price-o {
    display: inline-block;
    position: relative;
    font-size: 1em;
    text-decoration: line-through;
  }
  .past-price-n {
    font-size: 2.2em;
  }
  .past-buy-btn-a {
    margin-right: 0 !important;
  }
  .past-buy-btn {
    height: 70px;
    width: auto;
  }
  .past-info {
    height: 64px;
    font-size: 0.9em;
    padding-top: 7px;
  }
}
@media only screen and (min-width: 601px)  {
  .buy-box-wrapper {
    position: relative;
    height: 55px;
    line-height: 1.4;
    vertical-align: middle;
    margin-top: -60px;
    padding: 0 10px;
  }
  .buy-box-info {
    position: relative;
    padding: 20px;
  }
  .btn-buy-wrapper {
    margin-top: -10px;
    position: absolute;
    right: 10px;
  }
  .btn-buy {
    height: 70px;
    width: 70px;
  }
  .buy-box-footer {
    height: 50px;
    padding: 5px 20px 5px 20px;
  }
  .share-text {
    font-size: 1.4em;
  }
  img.social {
    height: 30px;
    width: 30px;
    margin: 4px 5px 0 5px;
    border-radius: 50%;
  }
  .brand-img {
    height: 70px;
    width: 70px;
    bottom: 0px;
    margin-top: -10px;
    padding: 2px;
  }
  .item-name {
    width: 30%;
    display: inline-block;
    position: absolute;
    margin-left: 5px;
    line-height: 55px;
  }
  .item-name.name-md {
    font-size: 1.4em;
  }
  .item-name.name-lg {
    font-size: 2em;
  }

  .item-price {
    display: inline-block;
    font-size: 1.8em;
    /*margin-right: 90px;*/
    margin-top: -8px;
  }
  .item-price-o {
    margin-top: 2px;
    /*margin-right: 20px;*/
    text-decoration: line-through;
    font-size: 1.2em;
  }
  .item-info {
    text-align: justify;
    font-size: 1em;
  }
  .m-item { margin-top: 0px; }
  .item-price.desk {
    margin-right: 20px;
  }
  .item-price-o.desk {
    margin-right: 20px;
  }
  .past-box-wrapper {
    height: 51px;
    line-height: 51px;
    vertical-align: middle;
    width: 100%;
    padding: 0 20px;
  }
  .seemore {
    font-size: 0.6em !important;
  }
  .past-date-box {
    padding: 5px 20px;
    font-size: 1.4em;
  }
  /* custom card */
  .card.past .card-image-ol {
    height: 179px;
    padding-top: 60px;
  }
  .card .card-content.past {
    height: 228px;
    overflow-y: scroll;
  }
  .card .card-image img {
    border-radius: 0;
  }
  .card .card-action.mod {
    padding: 10px 20px;
  }
  .past-price-o {
    display: inline-block;
    position: relative;
    font-size: 1.2em;
    text-decoration: line-through;
  }
  .past-price-n {
    font-size: 2.5em;
  }
  .past-buy-btn-a {
    margin-right: 0 !important;
  }
  .past-buy-btn {
    height: 80px;
    width: auto;
  }
}
@media only screen and (min-width: 992px)  {
  .user-link {
    margin-top: 0px;
  }
  .buy-box-wrapper {
    position: relative;
    height: 75px;
    line-height: 1;
    vertical-align: middle;
    padding: 0 20px;
  }
  .buy-box-info {
    position: relative;
    padding: 30px 20px 20px 20px;
  }
  .btn-buy-wrapper {
    display: inline-block;
    position: absolute;
    right: 20px;
    margin-top: -20px;
    z-index: 1000;
  }
  .btn-buy {
    /*display: inline-block;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 50px;
    height: auto;
    width: auto;*/
    display: block;
    width: 100px;
    height: 100px;
  }
  .buy-box-footer {
    height: 60px;
    padding: 5px 20px 5px 20px;
  }
  .share-text {
    font-size: 1.4em;
  }
  img.social {
    height: 36px;
    width: 36px;
    margin: 5px;
    border-radius: 50%;
  }
  .brand-img {
    display: inline-block;
    height: 100px;
    width: 100px;
    padding: 2px;
    margin-top: -15px;
  }
  .item-name {
    width: 45%;
    display: inline-block;
    position: absolute;
    margin-left: 10px;
    line-height: 75px;
  }
  .item-name.name-md {
    font-size: 2em;
  }
  .item-name.name-lg {
    font-size: 2.5em;
  }
  .item-price {
    display: inline-block;
    /*margin-right: 120px;*/
    font-size: 2.5em;
    margin-top: 0;
  }
  .item-info {
    white-space: pre-wrap;
    word-break: keep-all;
    clear: both;
    font-size: 1.2em;
  }
  .m-item { margin-top: 7px; }
  .item-price.desk {
    margin-right: 20px;
  }
  .item-price-o.desk {
    margin-right: 20px;
  }
  .past-box-wrapper {
    height: 51px;
    line-height: 51px;
    vertical-align: middle;
    width: 100%;
    padding: 0 20px;
  }
  .seemore {
    font-size: 0.6em !important;
  }
  .past-date-box {
    padding: 0px 20px 0px 20px;
    font-size: 1.4em;
  }
  /* custom card */
  .card.past .card-image-ol {
    height: 191px;
    padding-top: 60px;
  }
  .card .card-content.past {
    height: 228px;
    overflow-y: scroll;
  }
  .card .card-action.mod {
    padding: 10px 20px;
  }
  .past-price-o {
    display: inline-block;
    position: relative;
    font-size: 1.2em;
    text-decoration: line-through;
  }
  .past-price-n {
    font-size: 2.5em;
  }
  .past-buy-btn-a {
    margin-right: 0 !important;
  }
  .past-buy-btn {
    height: 80px;
    width: auto;
  }
  .past-brand { font-size: 1.5em; }
  .past-name { font-size: 1em; font-weight: bold; }
  .past-info {
    height: 120px;
    font-size: 0.9em;
    padding-top: 7px;
  }
}
@media only screen and (min-width: 1200px) {}

/** Shipping xInfo **/
@media only screen and (min-width: 0)      {
  .collapsible.mod {
    margin: -1px;
  }
  .collapsible-header { padding: 0 0 0 20px; }
  .collapsible.mod .collapsible-body {
    padding: 0px;
    font-size: 0.8em;
    text-align: justify;
  }
  ol.item-shipping-info li {
    list-style: decimal !important;
    margin-left: -20px;
  }
  .collapsible-body p {
    margin: 0;
    padding: 10px 0;
  }
  .item-shipping-info-box {
    padding: 10px 20px;
  }
}
@media only screen and (min-width: 601px)  {
  .collapsible.mod {
    margin: -1px;
  }
  .collapsible-header { padding: 0 20px; }
  .collapsible.mod .collapsible-body {
    padding: 0px;
    font-size: 0.8em;
    text-align: justify;
  }
  ol.item-shipping-info li {
    list-style: decimal !important;
    margin-left: -20px;
  }
  .collapsible-body p {
    margin: 0;
    padding: 10px 0;
  }
  .item-shipping-info-box {
    padding: 10px 20px;
  }
}
@media only screen and (min-width: 992px)  {
  .collapsible.mod {
    margin: -1px;
  }
  .collapsible-header { padding: 0 20px; }
  .collapsible.mod .collapsible-body {
    padding: 0px;
    font-size: 0.8em;
    text-align: justify;
  }
  ol.item-shipping-info li {
    list-style: decimal !important;
    margin-left: -20px;
  }
  .collapsible-body p {
    margin: 0;
    padding: 10px 0;
  }
  .item-shipping-info-box {
    padding: 10px 20px;
  }
}
@media only screen and (min-width: 1200px) {}

/*** Partners ***/
.partner-logo {
  width: auto;
  margin: 10px 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  filter:         url(~"data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  -webkit-filter: grayscale(100%);
  -moz-filter:    grayscale(100%);
  -ms-filter:     grayscale(100%);
  -o-filter:      grayscale(100%);
  filter: gray;
}
.partner-logo:hover {
  filter: none;
  -webkit-filter: grayscale(0%);
  -moz-filter:    grayscale(0%);
  -ms-filter:     grayscale(0%);
  -o-filter:      grayscale(0%);
  -webkit-transition: ease-out .5s;
  -moz-transition: ease-out .5s;
  -o-transition: ease-out .5s;
  transition: ease-out .5s;
}
@media only screen and (min-width: 0) {
  .partner-logo {
    height: 50px;
  }
}
@media only screen and (min-width: 601px) {}
@media only screen and (min-width: 992px) {
  .partner-logo {
    height: 100px;
  }
}
@media only screen and (min-width: 1200px) {}

/*** Login and Other Pages ***/
@media only screen and (min-width: 0) {
  .section { padding: 20px 0; }
  .modal-c {
    display: block;
    background-color: #fff;
    padding: 0;
    width: 100%;
    margin: auto;
    border-radius: 4px;
    overflow: hidden;
  }
  .modal-c .modal-content {
    padding: 10px 20px;
  }
  .modal-c .social-login-wrapper {
    margin-top: 10px;
  }
  .modal-c .modal-footer {
    padding: 0 20px;
    height: 2.5em;
    line-height: 2.5;
    vertical-align: middle;
  }
  img.social-login-btn {
    height: 70px;
    width: 70px;
    margin: 0 5px;
    cursor: pointer;
  }
  .parallax-container {
    height: 260px;
  }
  .parallax-title {
    color: #fff;
    position: relative;
    left: 0;
    margin-top: -35px;
    font-size: 3rem;
    line-height: 3rem;
  }
  .info-title { font-size: 2.2rem; }
  .info-details { font-size: 1rem; }
  .info-details li { margin: 10px 0; }
  .info-terms { font-size: .6em; }
  .terms-o { margin-left: -25px; }
  .terms li {
    list-style: decimal;
    margin-left: -30px;
  }
  ol.terms-sub li {
    list-style: lower-alpha;
  }
  ol.terms-sub-sub li {
    list-style: lower-roman;
  }
  ul.terms-sub li {
    list-style: none;
    margin-left: 0;
  }
}
@media only screen and (min-width: 601px)  {
  .section { padding: 20px 0; }
  .modal-c {
    display: block;
    background-color: #fff;
    padding: 0;
    width: 100%;
    margin: auto;
    border-radius: 4px;
    overflow: hidden;
  }
  .modal-c .modal-content {
    padding: 10px 20px;
  }
  .modal-c .social-login-wrapper {
    margin-top: 10px;
  }
  .modal-c .modal-footer {
    padding: 0 20px;
    height: 2.5em;
    line-height: 2.5;
    vertical-align: middle;
  }
  .parallax-container {
    height: 360px;
  }
  .parallax-title {
    color: #fff;
    position: relative;
    left: 0;
    margin-top: -70px;
    font-size: 6rem;
    line-height: 6rem;
  }
  .info-title { font-size: 3rem; }
  .info-details { font-size: 1.4rem; }
  .info-terms { font-size: .75em; }
}
@media only screen and (min-width: 992px)  {
  .section { padding: 50px 0 500px 0; }
  .section-sm { padding: 20px 0; }
  .modal-c {
    display: block;
    background-color: #fff;
    padding: 0;
    width: 100%;
    margin: auto;
    border-radius: 4px;
    overflow: hidden;
  }
  .modal-c .modal-content {
    padding: 10px 20px;
  }
  .modal-c .social-login-wrapper {
    margin-top: 10px;
  }
  .modal-c .modal-footer {
    padding: 0 20px;
    height: 2.5em;
    line-height: 2.5;
    vertical-align: middle;
  }
  .parallax-container {
    height: 500px;
  }
  .parallax-title {
    color: #fff;
    position: relative;
    left: 0;
    margin-top: -88px;
    font-size: 7rem;
    line-height: 7rem;
  }
  .info-title { font-size: 3rem; }
  .info-details { font-size: 1.4rem; }
  .info-details li { margin: 10px 0; }
  ul.m-info li {
    font-size: 1.8em;
    margin: 10px 0;
  }
  .relative {
    position: relative;
  }
  .m-info-circle-1 {
    position: relative;
    height: 200px;
    width: 200px;
    border-radius: 50%;
  }
  .m-info-circle-1-text {
    position: absolute;
    top: 0;
    left: 100px;
    height: 200px;
    line-height: 1.5;
    vertical-align: middle;
  }
}
@media only screen and (min-width: 1200px) {}

/** Checkout **/
@media only screen and (min-width: 0)      {
  .summary-box {
    width: 100%;
  }
  .check-name {
    font-size: 2em;
    font-weight: bold;
  }
  .check-number {
    font-size: 1.5em;
    font-weight: 400;
  }
  .check-address {
    font-size: 1.25em;
    font-weight: 400;
  }
  .check-item-name {
    font-size: 1.5em;
  }
  .check-price {
    font-size: 2.5em;
    font-weight: bold;
  }
  .btn-shipping-edit {
    margin: 20px 0;
  }
  .payco-box-bottom {
    display: inline-block;
    margin-top: 24px;
  }
  .payco-info {
    margin-top: 4px;
    margin-left: -20px;
    text-align: justify;
    font-size: 1em;
    font-weight: 400;
  }
  .payco-info li {
    list-style: decimal;
  }
  .btn-payco {
    margin-bottom: 20px;
  }
  .bank-box {
    padding: 0 1em 1em 1em;
  }
  .btn-block {
    width: 100%;
  }
  .success-text {
    padding: 10px 0;
    text-align: center;
    font-size: 1.2em;
  }
  .deposit-text {
    padding: 10px 0;
    font-size: 1.2em;
  }
  .s-social {
    display: inline-block;
    height: 55px;
    width: 55px;
    margin: 0 5px;
    border-radius: 50%;
  }
  #bank_modal {
    overflow-y: visible;
  }
  #bank_modal.modal .modal-content .dropdown-content {
    max-height: 185px;
  }
  #bank_modal.modal .modal-content {
    padding: 14px;
  }
  .bank-title {
    font-size: 1.4em;
  }
  .bank-number {
    font-size: 1.8em;
  }
  .bank-info {
    font-size: 0.9em;
  }
}
@media only screen and (min-width: 601px)  {
  .summary-box {
    width: 296px;
  }
  .summary-title {
    width: 296px;
    float: right;
  }
  .check-name {
    font-size: 2em;
    font-weight: bold;
  }
  .check-number {
    font-size: 1.5em;
    font-weight: 400;
  }
  .check-address {
    font-size: 1.25em;
    font-weight: 400;
  }
  .check-item-name {
    font-size: 1.1em;
  }
  .check-price {
    font-size: 2.5em;
    font-weight: bold;
  }
  .payco-info {
    margin-top: 4px;
    margin-left: 25px;
    text-align: justify;
    font-size: 1.2em;
    font-weight: 400;
  }
  .payco-info li {
    list-style: decimal;
  }
  .success-text {
    font-size: 3em;
  }
  .deposit-title {
    font-size: 1.6em;
  }
  .deposit-text {
    font-size: 1.5em;
  }
  .showoff {
    margin-left: 40px;
    line-height: 2em;
    vertical-align: middle;
    font-size: 2em;
    font-weight: 400;
  }
  .s-social {
    height: 55px;
    width: 55px;
    margin: 0 5px;
    border-radius: 50%;
    float: right;
  }
}
@media only screen and (min-width: 992px)  {
  .summary-box {
    width: 296px;
  }
  .check-name {
    font-size: 2em;
    font-weight: bold;
  }
  .check-number {
    font-size: 1.5em;
    font-weight: 400;
  }
  .check-address {
    font-size: 1.25em;
    font-weight: 400;
  }
  .check-item-name {
    font-size: 1.1em;
  }
  .check-price-box {
    height: auto;
  }
  .check-price {
    font-size: 2.5em;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .payco-info {
    margin-top: 4px;
    margin-left: 25px;
    text-align: justify;
    font-size: 1.2em;
    font-weight: 400;
  }
  .payco-info li {
    list-style: decimal;
  }
  .success-text {
    font-size: 3em;
  }
  .showoff {
    margin-left: 40px;
    line-height: 2em;
    vertical-align: middle;
    font-size: 2em;
    font-weight: 400;
  }
  .s-social {
    height: 55px;
    width: 55px;
    margin: 0 5px;
    border-radius: 50%;
    float: right;
    cursor: pointer;
  }
}
@media only screen and (min-width: 1200px) {}

/** Users **/
/*** Signup Page ***/
.signup-info {

}

/*** My Page ***/
@media only screen and (min-width: 0) {
  .user-title {
    padding: 6px 20px;
    margin-top: -20px;
    margin-bottom: 10px;
    font-size: 1.8em;
  }
  .collapsible-body {
    padding: 12px 20px;
  }
  .collapsible-body .o-label {
    display: inline-block;
    width: 80px;
    margin-bottom: 5px;
    color: #455a64;
    text-align: right;
  }
  .collapsible-body .o-name {
    display: inline-block;
    margin-bottom: 5px;
  }
}
@media only screen and (min-width: 601px) {}
@media only screen and (min-width: 992px) {
  .collapsible-body {
    padding: 12px 20px;
  }
  .collapsible-body .o-label {
    display: inline-block;
    width: 80px;
    margin-bottom: 10px;
    color: #455a64;
    text-align: left;
  }
  .collapsible-body .o-name {
    display: inline-block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  .text-md { font-size: 1.4em; }
}
@media only screen and (min-width: 1200px) {}

/*** List ***/
.users-link {
  margin-right: 4px;
}
.users-link:last-of-type {
  margin-right: 0;
}
.fa.fa-1-5x {
  font-size: 1.5em;
}

/** Orders **/
@keyframes blink {
  0%   { opacity: 1;}
  50%  { opacity: .6;}
  100% { opacity: 1;}
}
@media only screen and (min-width: 0)     {
  .table-orders thead tr th {
    border-radius: 0;
  }
  input#order_date {
    height: 2rem;
  }
  .blink {
    animation-name: blink;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }
}
@media only screen and (min-width: 601px) {

}
@media only screen and (min-width: 992px) {
  .order-label {
    margin: 5px 0;
    font-size: 1.4em;
  }
}

/** Errors **/
@media only screen and (min-width: 0) {
  .error-template {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    bottom: 0;
    padding: 40px 15px;
    text-align: center;
  }
  .error-template h2 {
    margin-top: 0px;
    margin-bottom: 10px;
    padding-top: 0px;
  }
  .icon-error {
    font-size: 6em;
  }
  .error-details {
    font-size: 1.2em;
  }
  .error-title {
    font-size: 1.4em;
  }
  .error-actions {
    display: block;
    margin-top: 150px;
  }
  .error-actions .btn {
    margin-right:0px;
  }
  #notfound {
    min-height: 550px;
    background-image: url(/images/404a.jpg);
    background-position: -225px top;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media only screen and (min-width: 601px) {
  .error-template {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    bottom: 0;
    padding: 40px 15px;
    text-align: center;
  }
  .error-template h2 {
    margin-top: 0px;
    margin-bottom: 10px;
    padding-top: 0px;
  }
  .icon-error {
    font-size: 8em;
  }
  .error-details {
    font-size: 2em;
  }
  .error-title {
    font-size: 1.4em;
  }
  .error-actions {
    display: block;
    margin-top: 150px;
  }
  .error-actions .btn {
    margin-right:0px;
  }
  #notfound {
    min-height: 700px;
    background-image: url(/images/404a.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media only screen and (min-width: 992px) {
  .error-template {
    display: block;
    position: relative;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
    bottom: 0;
    padding: 40px 15px;
    text-align: center;
  }
  .error-template h2 {
    margin-top: 0px;
    margin-bottom: 10px;
    padding-top: 0px;
  }
  .icon-error {
    font-size: 7em;
  }
  .error-details {
    font-size: 3em;
  }
  .error-title {
    font-size: 1.4em;
  }
  .error-actions {
    display: block;
    margin-top: 150px;
  }
  .error-actions .btn {
    margin-right:10px;
  }
  #notfound {
    min-height: 700px;
    background-image: url(/images/404a.jpg);
    background-position: 0 -120px;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

#sharekakao, #sharefb {
  cursor: pointer;
}

/* Email */
.db-mail {
  border: 1px solid #546e7a;
  border-collapse: collapse;
  width: 100%;
}
.db-mail th { padding: 0px 20px; }
.db-mail td { padding: 10px 20px; }
.db-mail td.db-mail-body { padding: 30px 20px; }
.db-logo-img {
  height: 100px;
  float: left;
}
.db-nav {
  height: 100px;
  background: -webkit-linear-gradient(#37474f, #455a64, #37474f);
  background: -o-linear-gradient(#37474f, #455a64, #37474f);
  background: -moz-linear-gradient(#37474f, #455a64, #37474f);
  background: linear-gradient(#37474f, #455a64, #37474f);
}
.db-mail h1, .db-mail h2, .db-mail h3, .db-mail h4, .db-mail h5, .db-mail h6 {
  font-family: 'Roboto', sans-serif;
  margin: 10px;
}

/*
 * Merchant Timeline
 *
 */
.cd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}
.cd-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}
#cd-timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;
}
#cd-timeline::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: #d7e4ed;
}
@media only screen and (min-width: 1170px) {
  #cd-timeline {
    margin-top: 3em;
    margin-bottom: 3em;
  }
  #cd-timeline::before {
    left: 50%;
    margin-left: -2px;
  }
}

.cd-timeline-block {
  position: relative;
  margin: 2em 0;
}
.cd-timeline-block:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-block:first-child {
  margin-top: 0;
}
.cd-timeline-block:last-child {
  margin-bottom: 0;
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-block {
    margin: 4em 0;
  }
  .cd-timeline-block:first-child {
    margin-top: 0;
  }
  .cd-timeline-block:last-child {
    margin-bottom: 0;
  }
}

.cd-timeline-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}
.cd-timeline-img i.fa {
  display: block;
  width: 24px;
  height: 24px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -20px;
  margin-top: -22px;
}
.cd-timeline-img img {
  display: block;
  width: 24px;
  height: 24px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -12px;
  margin-top: -12px;
}
.cd-timeline-img.cd-picture {
  background: #75ce66;
}
.cd-timeline-img.cd-movie {
  background: #c03b44;
}
.cd-timeline-img.cd-location {
  background: #f0ca45;
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-img {
    width: 60px;
    height: 60px;
    left: 50%;
    margin-left: -30px;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
  .cssanimations .cd-timeline-img.is-hidden {
    visibility: hidden;
  }
  .cssanimations .cd-timeline-img.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-1 0.6s;
    -moz-animation: cd-bounce-1 0.6s;
    animation: cd-bounce-1 0.6s;
  }
}

@-webkit-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -moz-transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -moz-transform: scale(1.2);
  }

  100% {
    -moz-transform: scale(1);
  }
}
@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
.cd-timeline-content {
  position: relative;
  margin-left: 60px;
  background: white;
  border-radius: 0.25em;
  padding: 1em;
  box-shadow: 0 3px 0 #d7e4ed;
}
.cd-timeline-content:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-content h2 {
  color: #303e49;
  font-size: 18px;
}
.cd-timeline-content p, .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
  font-size: 18px !important;
}
.cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
  display: inline-block;
}
.cd-timeline-content p {
  margin: 1em 0;
  line-height: 1.6;
}
.cd-timeline-content .cd-read-more {
  float: right;
  padding: .8em 1em;
  background: #acb7c0;
  color: white;
  border-radius: 0.25em;
}
.no-touch .cd-timeline-content .cd-read-more:hover {
  background-color: #bac4cb;
}
.cd-timeline-content .cd-date {
  float: left;
  padding: .8em 0;
  opacity: .7;
}
.cd-timeline-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid white;
}
@media only screen and (min-width: 768px) {
  .cd-timeline-content h2 {
    font-size: 20px;
    font-size: 1.25rem;
  }
  .cd-timeline-content p {
    font-size: 20px !important;
    font-size: 1rem;
  }
  .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
    font-size: 14px;
    font-size: 0.875rem;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-content {
    margin-left: 0;
    padding: 1.6em;
    width: 45%;
  }
  .cd-timeline-content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: white;
  }
  .cd-timeline-content .cd-read-more {
    float: left;
  }
  .cd-timeline-content .cd-date {
    position: absolute;
    width: 100%;
    left: 122%;
    top: 6px;
    font-size: 16px;
    font-size: 1rem;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: white;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
    left: auto;
    right: 122%;
    text-align: right;
  }
  .cssanimations .cd-timeline-content.is-hidden {
    visibility: hidden;
  }
  .cssanimations .cd-timeline-content.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-2 0.6s;
    -moz-animation: cd-bounce-2 0.6s;
    animation: cd-bounce-2 0.6s;
  }
}

@media only screen and (min-width: 1170px) {
  /* inverse bounce effect on even content blocks */
  .cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
    -webkit-animation: cd-bounce-2-inverse 0.6s;
    -moz-animation: cd-bounce-2-inverse 0.6s;
    animation: cd-bounce-2-inverse 0.6s;
  }
}
@-webkit-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -moz-transform: translateX(20px);
  }

  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px);
    transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
    transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -moz-transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -moz-transform: translateX(-20px);
  }

  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
    transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
