/*  Daily Boom, Inc. All rights reserved.  */

/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Candal);
@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
@font-face {
  font-family: '256bytes';
  src: url('/fonts/bulkypix.ttf'); /* IE9 Compat Modes */
  src: url('/fonts/bulkypix.ttf')  format('truetype'), /* Safari, Android, iOS */
}

/* Colors	*/
.facebook, .facebook:hover, .facebook:active  { background-color: #3b5998; }
.kakao, .kakao:hover, .kakao:active           { background-color: #ffeb00; color: #3c1e1e; }

/* Global Settings */
.section-blank        { padding: 25px 0; }
.set-min-h            { min-height: 420px; }
.set-margin-sm        { margin: 15px 5px; }
.set-margin-xl        { margin-top: 60px; }
.add-margin-bottom-xs { margin-bottom: .5rem; }
.add-margin-bottom-sm { margin-bottom: 1rem; }
.add-margin-bottom-md { margin-bottom: 2rem; }
.add-margin-sm        { margin: 1rem; }
.add-margin-tb        { margin: 0.5rem 0; }
.add-padding-xs       { padding: 5px; }
.add-padding-sm       { padding: 10px; }
.remove-padding       { padding: 0; }
.remove-margin-bottom { margin-bottom: 0; }
.add-border-radius-sm { border-radius: 2px; }
.btn-mod-md           { width: 11rem; margin: 0; }
.btn-mod-lg           { width: 15rem; height: 4rem; line-height: 4rem; font-size: 1.5rem; }

div.col.s12.set-padding       { padding: 0; }
form.col.s12.set-form-padding { padding: 0 0.5rem; }

/* Grid */

/* Text */
.text-xs { font-size: 0.75rem !important; }
.text-sm { font-size: 1rem !important; }
.text-md { font-size: 1.2rem !important; }
.text-sl { font-size: 1.6rem !important; }
.text-lg { font-size: 2rem !important; }
.text-xl { font-size: 2.4rem !important; }
.fa-1-5x { font-size: 1.5em !important; }
.fa-1-2x { font-size: 1.2em !important; }
.fa-2-5x { font-size: 2.5em !important; }
.form-bold { font-weight: 600 !important; }
.form-text-md { font-size: 1.8rem !important; }

.card .card-content p.form-lighten { color: #999; }

/* Navbar */
@media only screen and (min-width: 601px){
  .logo-d { display: block; }
  .logo-m { display: none; }
	nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i{
		height: 136px;
		line-height: 136px;
	}
  .btn-align {
    margin-top: 50px;
    line-height: 50px;
  }
	#btn-profile {
	    height: 70px;
	    width: 70px;
	    line-height: 70px;
      margin: 8px 0;
	}
	#btn-profile.btn-floating i.fa.fa-user.fa-3x {
		font-size: 3rem;
		line-height: 3rem;
		vertical-align: middle;
	}
	.nav-logo {
		margin-top: -44px;
		margin-left: -45px;
		height: 180px;
	}
  .top-margin {
    height: 50px;
    background-color: rgba(51,51,51,0.08);
  }
  #time-left {
    padding-top: 10px;
  }
}
@media only screen and (max-width: 600px) {
  .logo-d { display: none; }
  .logo-m { display: block; }
  .nav-logo {
		margin-top: -46px;
		margin-left: -15px;
		height: 70px;
	}
  .top-margin {
    height: 50px;
    background-color: rgba(51,51,51,0.08);
  }
}
@media only screen and (min-width: 601px) {
  .d-clock {
    margin-top: -20px;
    margin-left: -5rem;
  	vertical-align: middle;
    line-height: 4rem;
  	font-size: 4rem;
  	font-family: '256bytes', sans-serif;
  }
  .navbar-align {
    display: inline-block;
    position: relative;
    margin-top: -50px;
  }
  .profile-align {
    line-height: 80px;
    margin-top: 0px;
    padding: 0;
  }
  #dropdown-profile {
  	top: 85px !important;
  	border-radius: 5px;
  }
}
@media only screen and (max-width: 600px) {
  .d-clock {
    margin-top: -20px;
    margin-left: -1rem;
  	vertical-align: middle;
  	font-size: 2rem;
  	font-family: '256bytes', sans-serif;
  }
  .navbar-align {
    display: inline-block;
    position: relative;
    margin-top: -92px;
  }
  .profile-align {
    margin-top: -50px;
    padding: 0;
  }
  #dropdown-profile {
  	border-radius: 5px;
  }
  ul#dropdown-profile.dropdown-content,
  ul#dropdown-profile.dropdown-content.active {
    margin-top: 3rem;
    right: 0 !important;
  }
  .mobile-share {
    height: 4rem;
  }
  .mobile-share a img.social {
    position: relative;
    margin-top: 8px;
    padding: 0;
    height: 3rem;
    border-radius: 15%;
  }
}
.clock-font { font-family: 'Hanna', sans-serif; }
.img-profile { height: 40px; }

/* Home Page */
/** Login Modal **/
@media only screen and (min-width: 601px) {
  .btn-login { width: 8rem; }
  .btn-fb { width: 100%; height: 56px; margin-top: .4rem; border-radius: 2px; padding: 0; vertical-align: middle; line-height: 56px; font-size: 1.15rem; }
  .social-login-facebook { height: 1.6rem; padding: 0; margin-top: -3px; margin-right: 3.5rem; margin-left: -2.5rem; line-height: 1.5rem; vertical-align: middle; }
  .social-login-kakao { width: 100%; }
  .or-wrapper { line-height: 15rem; font-size: 1.25rem; }
  .btn-nologin { margin-left: -2.5rem; margin-right: 4rem; font-size: 2rem !important; vertical-align: middle; }
}
@media only screen and (max-width: 600px) {
  #modal-check.modal div.modal-content { padding: 0; }
  .btn-login {
    width: 92%;
    height: 46px;
    font-size: 1.15rem;
  }
  .social-login-facebook {
    height: 1.6rem;
    padding: 0;
    margin-top: -3px;
    line-height: 1.5rem;
    vertical-align: middle;
  }
  .social-login-kakao { width: 95%; }
  .btn-fb {
    width: 46%;
    height: 46px;
    margin-top: -6px;
    border-radius: 5px;
    padding: 0;
    vertical-align: middle;
    line-height: 47px;
    font-size: 1.15rem;
  }
  .btn-mod-shop {
    width: 11rem;
    height: 3rem;
    margin: .5rem 0;
    font-size: 1.25rem;
  }
}

/* Buttons */
.btn-large {
	height: 70px;
	line-height: 70px;
}

/* Images */
@media only screen and (min-width: 601px) {
  .iframe-video {
    width: 100%;
    height: 400px;
  }
}
@media only screen and (max-width: 600px) {
  .slider, .slides {
    height: 300px !important;
  }
  .iframe-video {
    width: 100%;
    height: 300px;
  }
}
/* Mobile */
@media only screen and (max-width: 600px) {
  #main {
    margin-top: -2rem;
    padding: 0;
  }
}
/* Custom Progress Bar Med and Up */
@media only screen and (min-width: 601px) {
	.progress-v {
    position: relative;
    height: 346px;
    width: 100%;
    margin: 0.5rem 0 1rem 0;
    overflow: hidden;
	}
	.determinate-v {
		position: absolute;
		width: 100%;
		bottom: 0;
		outline-top: 2px solid #fff;
	}
	.text-progress-v {
		position: absolute;
    width: 100%;
    left: 0;
    top: 36%;
    font-size: 2.6rem;
    z-index: 10;
	}
}
@media only screen and (max-width: 600px) {
	.progress-v {
	    position: relative;
	    height: 300px;
	    width: 100%;
	    margin: 0.5rem 0 1rem 0;
	    overflow: hidden;
	    border-top-left-radius: 25px;
	    border-top-right-radius: 25px;
	    border-bottom-left-radius: 25px;
	    border-bottom-right-radius: 25px;
	}
	.determinate-v {
		position: absolute;
		width: 100%;
		bottom: 0;
		outline-top: 2px solid #fff;
	}
	.text-progress-v {
		position: absolute;
	    width: 100%;
	    left: 0;
	    font-size: 2.6rem;
	    height: 346px;
	    line-height: 346px;
	    z-index: 10;
	}
}

/* Custom Progress Bar Mobile */
.progress-h {
  width: 100%;
  height: 25px;
}
.determinate-h {
  position: absolute;
  width: 100%;
  height: 25px;
  border-right: 2px solid #ffffff;
}
.text-progress-h {
  position: absolute;
  font-family: sans-serif;
  font-size: 1.4rem !important;
  color: #ffffff;
  z-index: 10;
}

/* Mobile Buttons */
@media only screen and (min-width: 993px) {
  .btn-buy-txt {
    font-size: 2rem;
    font-family: Candal, sans-serif;
    height: 150px;
    width: 150px;
    line-height: 150px;
    vertical-align: middle;
  }
}
@media only screen and (min-width: 601px) {
  .btn-buy-txt {
  	font-size: 2rem;
  	font-family: Candal, sans-serif;
  	height: 150px;
  	width: 150px;
  	line-height: 150px;
  	vertical-align: middle;
  }
}
@media only screen and (max-width: 600px) {

}

.fixed-btn-buy {
	bottom: 0;
	width: 100%;
	position: fixed;
  font-size: 3rem;
	z-index: 1000;
}
.d-clock-mobile {
	width: 100%;
  padding-top: 7px;
	font-size: 2.4rem;
  font-family: '256bytes', sans-serif;
}
.btn-buy-mobile {
	width: 100%;
	height: 70px;
	line-height: 70px;
	vertical-align: middle;
	margin: 0;
	font-size: 2.4rem;
	font-family: Candal, sans-serif;
}

/* Past Items */
.see-more { padding-top: 1rem; }

/* Forms */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* details */
.slider .indicators {
	bottom: 10px;
	z-index: 1000;
}
.slider .indicators .indicator-item {
	background-color: rgba(255,255,255,0.7);
}
.card .card-reveal { z-index: 1000; }

@media only screen and (min-width: 601px) {
  .details-box {
    width: 100%;
    clear: both;
  }
  .details-img {
  	height: 120px;
  }
  .details-title {
    font-size: 2rem;
  }
  .brandlink {
    padding: 0 4px;
  }
  .social {
  	height: 2.1rem;
    margin-right: 5px;
  }
  .social-footer {
  	height: 2.5rem;
    margin-right: 5px;
  }
}
@media only screen and (max-width: 600px) {
  .details-box {
    width: 100%;
    clear: both;
  }
  .details-img {
  	height: 100px;
  }
  .details-title {
    font-size: 2rem;
  }
  .brandlink {
    padding: 0 4px;
  }
  .social {
  	height: 2rem;
    padding: 0 4px;
  }
  .social-footer {
  	height: 2rem;
    margin-right: 5px;
  }
  .footer-copyright {
    font-size: .9rem;
  }
}

.customNavigation{
  text-align: center;
}
.customNavigation a{
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.img-pro {
  width: 100%;
  height: 180px;
  line-height: 180px;
  vertical-align: middle;
  border-radius: .25rem;
  overflow: hidden;
}

/* Login */
.form-padding { padding: 0 20px; }
.border-right { border-right: 1px solid #ffffff; }

/* Register Item Page */
.input-file-mod {
  position: absolute;
  margin-top: -2rem;
}
@media only screen and (min-width: 601px) {
  .card { margin-top: .49rem; }
}
@media only screen and (max-width: 600px) {
  .card { margin-top: .49rem; }
}

/* Checkout Page*/
.btn-order {
  width: 100%;
  height: 4rem;
  line-height: 4rem;
  vertical-align: middle;
  font-size: 1.4rem;
}
#add-id,
#add-address {
  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
         -moz-animation: fadein 1s; /* Firefox < 16 */
          -ms-animation: fadein 1s; /* Internet Explorer */
           -o-animation: fadein 1s; /* Opera < 12.1 */
              animation: fadein 1s;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* My Page */
.order-space { padding: 0 10px; }
.edit-order {
  display: inline-block;
  width: 100%;
}

/* Products List Page */
.past-date-box {
  width: 100%;
  padding: .5rem 20px;
}
