/*  Daily Boom, Inc. All rights reserved.  */

/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Candal);
@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
@font-face {
  font-family: '256bytes';
  src: url('/fonts/bulkypix.ttf'); /* IE9 Compat Modes */
  src: url('/fonts/bulkypix.ttf')  format('truetype'), /* Safari, Android, iOS */
}

/*	Colors	*/

/* Settings */
.section-blank { padding: 25px 0; }

.set-min-h            { min-height: 420px; }
.set-margin-sm        { margin: 15px 5px; }
.set-margin-xl        { margin-top: 60px; }
.add-margin-bottom-md { margin-bottom: 2rem; }
.add-padding-xs       { padding: 5px; }
.add-padding-sm       { padding: 10px; }
.remove-padding       { padding: 0; }
.add-border-radius-sm { border-radius: 2px; }

.btn-mod-md { width: 12.2rem; }
.btn-mod-lg {
  width: 15rem;
  height: 4rem;
  line-height: 4rem;
  font-size: 1.5rem;
}

/*  Grid  */
@media (max-width: 600px) {
  .flex-s { flex-direction: row; /* Stack on top */ }
  .box-1 { order: 2; /* Go down, bring Box 2 up */ }
  .box-2 { order: 1; }
  .box-3 { order: 3; }
}

/* Text */
.text-sm { font-size: 1rem; }
.text-md { font-size: 1.2rem; }
.text-lg { font-size: 2rem; }
.fa-1-5x { font-size: 1.5em; }
.fa-2-5x { font-size: 2.5em; }
.form-bold { font-weight: 600; }
.form-text { font-size: 1.2rem; }
.form-text-sm { font-size: 1.2rem; }
.form-text-md { font-size: 1.8rem; }
.form-text-lg { font-size: 2.4rem; }

.card .card-content p.form-lighten { color: #999; }

/* Navbar */
@media only screen and (min-width: 601px) {
	nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i{
		height: 136px;
		line-height: 136px;
	}
  .btn-align {
    margin-top: 50px;
    line-height: 50px;
  }
	#btn-profile {
	    height: 70px;
	    width: 70px;
	    line-height: 70px;
      margin: 8px 0;
	}
	#btn-profile.btn-floating i.fa.fa-user.fa-3x {
		font-size: 3rem;
		line-height: 3rem;
		vertical-align: middle;
	}
	.nav-logo {
		margin-top: -44px;
		margin-left: -70px;
		height: 180px;
	}
  .top-margin {
    height: 50px;
    background-color: rgba(51,51,51,0.08);
  }
  #time-left {
    padding-top: 10px;
  }
}
@media only screen and (max-width: 600px) {
  .nav-logo {
		margin-top: -50px;
		margin-left: -15px;
		height: 70px;
	}
  .top-margin {
    height: 50px;
    background-color: rgba(51,51,51,0.08);
  }
}
@media only screen and (min-width: 601px) {
  .d-clock {
    margin-top: -20px;
    margin-left: -5rem;
  	vertical-align: middle;
    line-height: 4rem;
  	font-size: 4rem;
  	font-family: '256bytes', sans-serif;
  }
  .navbar-align {
    display: inline-block;
    position: relative;
    margin-top: -50px;
  }
  .profile-align {
    line-height: 80px;
    margin-top: 0px;
    padding: 0;
  }
  #dropdown-profile {
  	top: 85px !important;
  	border-radius: 5px;
  }
}
@media only screen and (max-width: 600px) {
  .d-clock {
    margin-top: -20px;
    margin-left: -1rem;
  	vertical-align: middle;
  	font-size: 2rem;
  	font-family: '256bytes', sans-serif;
  }
  .navbar-align {
    display: inline-block;
    position: relative;
    margin-top: -92px;
  }
  .profile-align {
    margin-top: -50px;
    padding: 0;
  }
  #dropdown-profile {
  	border-radius: 5px;
  }
  .mobile-share {
    height: 4rem;
  }
  .mobile-share a img.social {
    position: relative;
    padding: 5px 0 0 0;
    height: 3rem;
  }
}
.clock-font { font-family: 'Hanna', sans-serif; }

.img-profile { height: 40px; }

/* Buttons */
.btn-large {
	height: 70px;
	line-height: 70px;
}

/* Images */
@media only screen and (min-width: 601px) {
  .iframe-video {
    width: 100%;
    height: 400px;
  }
}
@media only screen and (max-width: 600px) {
  .slider, .slides {
    height: 300px !important;
  }
  .iframe-video {
    width: 100%;
    height: 300px;
  }
}
/* Mobile */
@media only screen and (max-width: 600px) {
  #main {
    margin-top: -2rem;
    padding: 0;
  }
}
/* Custom Progress Bar Med and Up */
@media only screen and (min-width: 601px) {
	.progress-v {
    position: relative;
    height: 346px;
    width: 100%;
    margin: 0.5rem 0 1rem 0;
    overflow: hidden;
	}
	.determinate-v {
		position: absolute;
		width: 100%;
		bottom: 0;
		outline-top: 2px solid #fff;
	}
	.text-progress-v {
		position: absolute;
	    width: 100%;
	    left: 0;
	    font-size: 2.6rem;
	    height: 346px;
	    line-height: 346px;
	    z-index: 10;
	}
}
@media only screen and (max-width: 600px) {
	.progress-v {
	    position: relative;
	    height: 300px;
	    width: 100%;
	    margin: 0.5rem 0 1rem 0;
	    overflow: hidden;
	    border-top-left-radius: 25px;
	    border-top-right-radius: 25px;
	    border-bottom-left-radius: 25px;
	    border-bottom-right-radius: 25px;
	}
	.determinate-v {
		position: absolute;
		width: 100%;
		bottom: 0;
		outline-top: 2px solid #fff;
	}
	.text-progress-v {
		position: absolute;
	    width: 100%;
	    left: 0;
	    font-size: 2.6rem;
	    height: 346px;
	    line-height: 346px;
	    z-index: 10;
	}
}

/* Custom Progress Bar Mobile */
.progress-h {
  width: 100%;
  height: 25px;
}
.determinate-h {
  position: absolute;
  width: 100%;
  height: 25px;
  border-right: 2px solid #ffffff;
}
.text-progress-h {
  position: absolute;
  font-family: sans-serif;
  font-size: 1.4rem !important;
  color: #ffffff;
  z-index: 10;
}

/* Mobile Buttons */
@media only screen and (min-width: 993px) {
  .btn-buy-txt {
    font-size: 2rem;
    font-family: Candal, sans-serif;
    height: 150px;
    width: 150px;
    line-height: 150px;
    vertical-align: middle;
  }
}
@media only screen and (min-width: 601px) {
  .btn-buy-txt {
  	font-size: 2rem;
  	font-family: Candal, sans-serif;
  	height: 150px;
  	width: 150px;
  	line-height: 150px;
  	vertical-align: middle;
  }
}
@media only screen and (max-width: 600px) {

}

.fixed-btn-buy {
	bottom: 0;
	width: 100%;
	position: fixed;
  font-size: 3rem;
	z-index: 1000;
}
.d-clock-mobile {
	width: 100%;
  padding-top: 7px;
	font-size: 2.4rem;
  font-family: '256bytes', sans-serif;
}
.btn-buy-mobile {
	width: 100%;
	height: 70px;
	line-height: 70px;
	vertical-align: middle;
	margin: 0;
	font-size: 2.4rem;
	font-family: Candal, sans-serif;
}

/* Forms */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* details */
.slider .indicators {
	bottom: 10px;
	z-index: 1000;
}
.slider .indicators .indicator-item {
	background-color: rgba(255,255,255,0.7);
}

@media only screen and (min-width: 601px) {
  .details-box {
    width: 100%;
    clear: both;
  }
  .details-img {
  	height: 120px;
  }
  .details-title {
    font-size: 2rem;
  }
  .brandlink {
    padding: 0 4px;
  }
  .social {
  	height: 2.1rem;
    padding: 0 5px;
  }
}
@media only screen and (max-width: 600px) {
  .details-box {
    width: 100%;
    clear: both;
  }
  .details-img {
  	height: 100px;
  }
  .details-title {
    font-size: 2rem;
  }
  .brandlink {
    padding: 0 4px;
  }
  .social {
  	height: 2rem;
    padding: 0 4px;
  }
}


.customNavigation{
  text-align: center;
}
.customNavigation a{
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.pro-right {
	padding: 170px 20px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
.img-right {
  width: 100%;
	height: 347.5px;
}

/* Login */
.form-padding { padding: 0 20px; }
.border-right { border-right: 1px solid #ffffff; }

/* Register Item Page */
.input-file-mod {
  position: absolute;
  margin-top: -2rem;
}

/* Checkout Page*/
.btn-order {
  width: 100%;
  height: 4rem;
  line-height: 4rem;
  vertical-align: middle;
  font-size: 1.4rem;
}
#add-id,
#add-address {
  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
         -moz-animation: fadein 1s; /* Firefox < 16 */
          -ms-animation: fadein 1s; /* Internet Explorer */
           -o-animation: fadein 1s; /* Opera < 12.1 */
              animation: fadein 1s;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* My Page */
.order-space { padding: 0 10px; }
.edit-order {
  display: inline-block;
  width: 100%;
}
